@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --body-color: #f3f3f3;
    --main-color: #C63EFF;
    --secondary-color: #000;
    --font-family: 'Josefin Sans', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--body-color);
    font-family: var(--font-family);
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid rgb(218, 218, 218);
}

nav>div>ul {
    display: flex;
    list-style: none;
}

nav>div>ul>li>a {
    color: var(--secondary-color);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;



}

nav>div>ul>li>a:hover {
    color: #FFF;
    background: #C63EFF;
    padding: 10px 20px;
    transition: .4s ease-in-out;
}

/* header end  */
.poster-container {
    background: url(images/slider1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.poster-heading {
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 80px;
}

strong {
    color: var(--main-color);
    position: relative;
    z-index: 1;
}

strong::before {
    background-color: #ffffff;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

button {
    border: none;
    margin-right: 5px;
    padding: 15px 20px;
    font-size: 16px;
    text-transform: uppercase;
    background: var(--main-color);
    color: white;
    font-weight: 400;
    box-shadow: 1px 1px 0px 0px white;

}

button:hover {
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    transition: .4s ease-in-out;
}

#btn-2 {
    background: rgba(255, 255, 255, 0);
    border: 1px solid var(--secondary-color);
}

#btn-2:hover {
    background: var(--secondary-color);
    transition: .4s ease-in-out;
}

/* poster container end  */
main {
    width: 80%;
    margin: auto;
}

/* main end  */
.titte {
    text-align: center;
    font-size: 40px;
}

.our-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 0px;
}

.courses {
    display: flex;
    flex-direction: column;
    background: white;
}

.courses:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.course-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-details {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.course-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-tittle>h2 {
    color: var(--main-color);
}

.course-tittle>h4 {
    background: #C63EFF;
    color: white;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
}

.rating-reviews {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.ratings>i {
    color: goldenrod;
    font-size: 14px;
}

.course-description {
    text-align: justify;
    line-height: 20px;
}

.course-outline {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    text-align: center;
    line-height: 20px;
}

.courses-pagination-buttons {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.courses-pagination-buttons>button {
    border: 1px solid var(--main-color);
    margin-right: 5px;
    padding: 10px 15px;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
    color: var(--main-color);
    font-weight: 400;
}

.courses-pagination-buttons>button:hover {
    background: var(--main-color);
    color: white;
}

/* ours courses end  */
.our-services {
    padding: 50px 0px;
    display: grid;
    gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.service {
    display: flex;
    align-items: start;
    gap: 40px;
}

.service:hover {
    transform: rotate(5deg);
    transition: .6s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.icon {
    font-size: 24px;
    background: var(--main-color);
    color: white;
    padding: 15px;
}

.service-details>h3 {
    font-size: 22px;
}

.service-details>p {
    text-align: justify;
    line-height: 20px;
}

/* our services end  */
.gallary-section {
    margin-bottom: 100px;
}

.gallery-tittle {
    text-align: center;
    font-size: 40px;
}

.our-gallery {
    display: flex;
    gap: 100px;
    flex-direction: column;
}

.button-group {
    display: flex;
    justify-content: center;
}

.gallery-buttons>button {
    margin-right: 10px;
    background: none;
    color: var(--secondary-color);
    box-shadow: 1px 1px 2px gray;

}

.gallery-buttons>button:hover {
    padding: 15px 20px;
    border: none;
    background: var(--main-color);
    color: white;
}

#special-button {
    background: var(--main-color);
    color: #FFF;
}

.showcase {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.showcase-images:hover {
    transform: scale(1.05);
    transition: .6s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.showcase-images {
    position: relative;
}

.showcase-images>img {
    width: 100%;
}

.showcase-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #FFF;
    background: rgba(0, 0, 0, 0.59);
    width: 100%;
    text-align: center;
    height: 100%;
    display: none;
}

.showcase-details>.rating-reviews {
    justify-content: center;
}

.showcase-images:hover .showcase-details {
    display: block;

}

.showcase-details>button {
    padding: 10px;
    font-size: 12px;
    background: none;
}

.showcase-details>button:hover {
    border: none;
    background: var(--main-color);
}

/* showcase end  */
.testimonial-container{
    height: 50vh;
    background: rgb(123, 93, 136);
    display: flex;
    justify-content: space-between;
    background:linear-gradient(90deg, #1e172ac5 30%, #1e172ac5 70%), url(images/10002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}
.testimonial{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.left-container{
    color: #FFF;
}
.left-container>h1{
    font-size: 28px;
}
.left-container>p{
    line-height: 24px;
}
.center-image>img{
    border-radius:50%;
    border: 10px solid var(--main-color);
}
.right-container{
    color: #FFF;
   
}
.right-container>h4{
    color: var(--main-color);
}
.right-container>p{
    line-height: 24px;
}
.right-container>div>i{
    color:goldenrod
}
/* testimonial end  */


.our-blogs{
    display: grid;
    padding: 50px 0;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.blogs{
    display: flex;
    flex-direction: column;
}
.blog-banner{
    position: relative;
}
.blog-banner>h4{
    position: absolute;
    right: 0;
    background: var(--main-color);
    padding: 10px;
    color: #FFF;
}
.blog-details{
    width: 98%;
    margin: auto;

}
.blog-tittle{
    color: var(--main-color);
}
.blog-info{
    display: flex;
    justify-content: space-between;
}
.blog-info>p>i{
    color: var(--main-color);
}
.blog-description>p{
    text-align: justify;
    line-height: 20px;
    margin-bottom: 20px;
}



/* blog end  */
.counter-section {
    height: 30vh;
    background: rgb(147, 0, 209);
    background: radial-gradient(circle, #9300d1 28%, #bb2ca0 79%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.counter-section:hover{
    background: radial-gradient(circle, #bb2ca0 28%, #9300d1 79%);
}

.counter {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.counter-details {
    color: #FFF;
   
    text-align: center;
}

.counter-details>div>i {
    font-size: 50px;

}

.counter-details>div>h1 {
    font-size: 32px;
}
.counter-details>div>h4{
    font-size: 20px;
}
/* counter end  */